{% extends 'game/base.html' %}
{% block title %}
Sign Up
{% endblock %}
{% block menu %} 
{% endblock %}
{% block resources %} 
{% endblock %}
{% block content %}
<form method="post" class="form">
    {% csrf_token %}
    {% for field in form %}
        <div class="input-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
    {% endfor %}
    <button class="btn btn-primary submit-button">Sign Up</button>
    <div class="form-errors">
        {{ form.non_field_errors }}
    </div>
    <a href="{% url 'login' %}">Already a member? Log In</a>
</form>
{% endblock %}