{% load static %}
<link rel="stylesheet" href="{% static 'game/style.css' %}">
<h2>
    {% block title %}
    {% endblock %}
</h2>
<table>
    <tr>
        <th>Gold</th>
        <th>Rock</th>
        <th>Wood</th>
    </tr>
    <tr>
        <td>{{ gold_units }} - {{ gold_subunits }}</td>
        <td>{{ rock_units }} - {{ rock_subunits }}</td>
        <td>{{ wood_units }} - {{ wood_subunits }}</td>
    </tr>
</table>
{% block content %}
{% endblock %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'buildings' %}">Buildings</a>
<a href="{% url 'logout' %}">Log out?</a>