{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'game/style.css' %}">
<div class="header">
    <span class="header-title">
        {% block title %}
        {% endblock %}
    </span>
    <div class="header-right">
        <a class="{% if request.resolver_match.url_name == "home" %}active{% endif %}" href="{% url 'home' %}">Home</a>
        <a class="{% if request.resolver_match.url_name == "buildings" %}active{% endif %}" href="{% url 'buildings' %}">Buildings</a>
        <a href="{% url 'logout' %}">Log out?</a>
    </div>
</div>
<table>
    <tr>
        <th>Gold</th>
        <th>Rock</th>
        <th>Wood</th>
    </tr>
    <tr>
        <td>{{ gold_units }} - {{ gold_subunits }}</td>
        <td>{{ rock_units }} - {{ rock_subunits }}</td>
        <td>{{ wood_units }} - {{ wood_subunits }}</td>
    </tr>
</table>
{% block content %}
{% endblock %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
