{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'game/style.css' %}">
<div class="header">
    <span class="header-title">
        {% block title %}
        {% endblock %}
    </span>
    <div class="header-right">
        <a class="{% if request.resolver_match.url_name == "home" %}active{% endif %}" href="{% url 'home' %}">Home</a>
        <a class="{% if request.resolver_match.url_name == "buildings" %}active{% endif %}" href="{% url 'buildings' %}">Buildings</a>
        <a href="{% url 'logout' %}">Log out?</a>
    </div>
</div>

<img src="{% static 'game/gold.jpg' %}" alt="Gold Units" height="32" width="32">
{{ gold_units }}<span class="subunits">{{ gold_subunits|stringformat:"03d" }}</span>
<img src="{% static 'game/rock.jpg' %}" alt="Gold Units" height="32" width="32">
{{ rock_units }}<span class="subunits">{{ rock_subunits|stringformat:"03d" }}</span>
<img src="{% static 'game/wood.jpg' %}" alt="Gold Units" height="32" width="32">
{{ wood_units }}<span class="subunits">{{ wood_subunits|stringformat:"03d" }}</span>

{% block content %}
{% endblock %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
