{% extends 'game/base.html' %}
{% block title %}
Buildings
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <label>Gold Mine level {{gold_mine_level}}</label>
    <label>Rock cost: {{ upgrade_gold_mine_rock_cost }}</label>
    <label>Wood cost: {{ upgrade_gold_mine_wood_cost }}</label>
    <input type="submit" name="gold_mine" value="Upgrade Gold Mine" /> <br>
    <label>Rock Mine level {{rock_mine_level}}</label>
    <label>Rock cost: {{ upgrade_rock_mine_rock_cost }}</label>
    <label>Wood cost: {{ upgrade_rock_mine_wood_cost }}</label>
    <input type="submit" name="rock_mine" value="Upgrade Rock Mine" /> <br>
    <label>Lumber Camp level {{lumber_camp_level}}</label>
    <label>Rock cost: {{ upgrade_lumber_camp_rock_cost }}</label>
    <label>Wood cost: {{ upgrade_lumber_camp_wood_cost }}</label>
    <input type="submit" name="lumber_camp" value="Upgrade Lumber Camp" /> <br>
</form>
{% endblock %}